body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px 1px #777;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section a {
    color: #262626;
    text-decoration: none;
}


section a img {
    transition: 0.3s all linear;
    border-radius: 7px;
}

section a:hover img {
    transform: scale(0.97);
}

section a figcaption {
    transition: 0.3s all linear;
    font-weight: 300;
}

section a:hover figcaption {
    color: rgb(4, 139, 154);
    letter-spacing: 1.2px;
    font-weight: 700;
}